@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --main-1: #7280ff;
    --main-2: #a2b6ff;
    --main-3: #bdd1fb;
    --main-4: #d0dfff;
    --main-5: #edf3ff;
    --main-6: #cccccc;

    --gray-100: #070707;
    --gray-90: #171d23;
    --gray-80: #222931;
    --gray-70: #303a45;
    --gray-60: #515e6f;
    --gray-50: #878e9b;
    --gray-40: #c6c8ce;
    --gray-30: #eaebee;
    --gray-20: #f7f8f9;
    --gray-10: #ffffff;

    --sub-5: #4d44ff;
    --sub-4: #447eff;
    --sub-2: #ff9928;
    --sub-1: #ffde6b;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html,
  body {
    touch-action: none;
  }
  body.video-active * {
    pointer-events: none;
  }

  body.video-active .video-close {
    pointer-events: auto;
  }
}

@layer typography {
  /* Headings */
  .h1 {
    @apply text-3xl font-bold leading-[1.6rem] tracking-[0.02rem];
  }
  .h1-semibold {
    @apply text-3xl font-semibold leading-[1.6rem] tracking-[0.02rem];
  }
  .h1-regular {
    @apply text-3xl font-normal leading-[1.6rem] tracking-[0.02rem];
  }

  .h2 {
    @apply text-2xl font-bold leading-[1.6rem] tracking-[0.02rem];
  }
  .h2-regular {
    @apply text-2xl font-normal leading-[1.6rem] tracking-[0.02rem];
  }
  .h2-semibold {
    @apply text-2xl font-semibold leading-[1.6rem] tracking-[0.02rem];
  }

  .h3 {
    @apply text-[1.375rem] font-bold leading-[1.6rem] tracking-[0.02rem];
  }
  .h3-semibold {
    @apply text-[1.375rem] font-semibold leading-[1.6rem] tracking-[0.02rem];
  }
  .h3-regular {
    @apply text-[1.375rem] font-normal leading-[1.6rem] tracking-[0.02rem];
  }

  /* Titles */
  .title1 {
    @apply text-xl font-bold leading-[1.6rem] tracking-[0.02rem];
  }
  .title1-semibold {
    @apply text-xl font-semibold leading-[1.6rem] tracking-[0.02rem];
  }
  .title1-regular {
    @apply text-xl font-normal leading-[1.6rem] tracking-[0.02rem];
  }

  .title2 {
    @apply text-lg font-bold leading-[1.6rem] tracking-[0.02rem];
  }
  .title2-semibold {
    @apply text-lg font-semibold leading-[1.6rem] tracking-[0.02rem];
  }
  .title2-regular {
    @apply text-lg font-normal leading-[1.6rem] tracking-[0.02rem];
  }

  .title3 {
    @apply text-base font-bold leading-[1.6rem] tracking-[0.02rem];
  }
  .title3-semibold {
    @apply text-base font-semibold leading-[1.6rem] tracking-[0.02rem];
  }
  .title3-regular {
    @apply text-base font-normal leading-[1.6rem] tracking-[0.02rem];
  }

  /* Body text */
  .body1 {
    @apply text-sm font-bold leading-[1.6rem] tracking-[0.02rem];
  }
  .body1-semibold {
    @apply text-sm font-semibold leading-[1.6rem] tracking-[0.02rem];
  }
  .body1-medium {
    @apply text-sm font-medium leading-[1.6rem] tracking-[0.02rem];
  }
  .body1-regular {
    @apply text-sm font-normal leading-[1.6rem] tracking-[0.02rem];
  }

  .body2 {
    @apply text-[0.8125rem] font-bold leading-[1.6rem] tracking-[0.02rem];
  }
  .body2-semibold {
    @apply text-[0.8125rem] font-semibold leading-[1.6rem] tracking-[0.02rem];
  }
  .body2-medium {
    @apply text-[0.8125rem] font-medium leading-[1.6rem] tracking-[0.02rem];
  }
  .body2-regular {
    @apply text-[0.8125rem] font-normal leading-[1.6rem] tracking-[0.02rem];
  }

  .body3 {
    @apply text-xs font-bold tracking-[0.02rem];
  }
  .body3-semibold {
    @apply text-xs font-semibold tracking-[0.02rem];
  }
  .body3-medium {
    @apply text-xs font-medium tracking-[0.02rem];
  }
  .body3-regular {
    @apply text-xs font-normal tracking-[0.02rem];
  }
}
